mat-spinner {
  float:right;
  height: 30px;

}

.spinner {
  width: 100%;
}

.filter-input {
  width: 90%;
  height: 100%;
  padding-top: 80px;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.mat-button, .mat-icon-button, .mat-raised-button {
    color: #808080;
}
