<!--top bar-->
<mat-grid-list cols="1" rowHeight="60px">
  <mat-grid-tile>
     <mat-toolbar>
      <div id="ft-content-title">FAM CB Rating Analysis</div>
    </mat-toolbar>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="3:1">
  <!-- from date filter -->
  <mat-grid-tile>
   <mat-form-field>
      <input matInput [matDatepicker]="fromDatePicker"
             [(ngModel)]="fromDateValue"
             [min]="minDateFrom"
             [max]="maxDateFrom"
             placeholder="From date"
             (dateChange)="selectFromDateFromCalender($event)"
             readonly
             id="fromDateInput">
      <mat-hint *ngIf="errorMessageDates()" [ngStyle]="{'color': 'red'}" align="start" id="datesError">{{errorMessageDates()}}</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="fromDatePicker" id="fromDateToggle"></mat-datepicker-toggle>
      <mat-datepicker #fromDatePicker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

  <!-- to date filter -->
  <mat-grid-tile>
    <mat-form-field>
      <input matInput [matDatepicker]="toDatePicker"
             [(ngModel)]="toDateValue"
             [max]="maxDateTo"
             placeholder="To date"
             (dateChange)="selectToDateFromCalender($event)"
             readonly>
      <mat-datepicker-toggle matSuffix [for]="toDatePicker" id="toDateToggle"></mat-datepicker-toggle>
      <mat-datepicker #toDatePicker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

  <!-- sector filter -->
  <mat-grid-tile>
    <mat-form-field>
      <mat-select [placeholder]="placeholderTextSector" (change)="selectSector($event)" id="sector">
        <mat-option *ngFor=" let sector of sectors | async"
                    [value]="sector" id="{{ sector }}">{{ sector }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <!-- region filter -->
  <mat-grid-tile>
    <mat-form-field>
      <mat-select [placeholder]="placeholderTextRegion" (change)="selectRegion($event)" id="region">
        <mat-option *ngFor="let region of regions | async" [value]="region">{{ region }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <!-- fam rating filter -->
  <mat-grid-tile>
    <mat-form-field>
      <mat-select [placeholder]="placeholderTextFamRating" (change)="selectFamRating($event)" id="famrating">
        <mat-option *ngFor="let famRating of famRatings" [value]="famRating">{{ famRating }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>

  <!-- benchmark filter -->
  <mat-grid-tile>
    <mat-form-field>
      <mat-select [placeholder]="placeholderTextBenchmark" (change)="selectBenchmark($event)" id="benchmark">
        <mat-option *ngFor="let benchmark of benchmarks" [value]="benchmark">{{ benchmark }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="4:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <button class="mat-raised-button" matTooltip="The Excel File with Plot and Detail Data will be stored in Your Dropbox."
            *ngIf="inSync | async"
            (click)="exportDataToExcel($event)"
            id="exportbutton">Export Data to Excel
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="2:1"></mat-grid-list>
<mat-grid-list cols="1" rowHeight="2.5:1">
  <mat-grid-tile *ngIf="(inSync | async) == false">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="(lineChartDataAvailable | async) == false">
    No Data available
  </mat-grid-tile>

  <mat-grid-tile *ngIf="(lineChartDataAvailable | async) && (inSync | async)">
    <div style="display: block;">
      <canvas id="chart" baseChart width="1200" height="500"
              [datasets]="lineChartData | async"
              [labels]="lineChartLabels | async"
              [chartType]="lineChartType"
              [options]="lineOptions"
              [colors]="lineChartLineColors | async">
      </canvas>
    </div>
  </mat-grid-tile>
</mat-grid-list>




